body {
  font-size: 16px;
  color: black;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}

/*FOOTER*/
.panel-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: grey;
	border-top:0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
.navbar-brand{
	padding-top: 0px;
}
.navbar-brand h1{
	padding-bottom: 30px;
	color: black;
	font-weight: bold;
}
#main-content > p{
	color: black;
	font-size: 30px;
	font-weight: bolder;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
	.navbar-brand h1{
		margin-top: 10px;
		line-height: 0.8;
		font-size: 1.6em;
	}

}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-brand h1{
		margin-top: 10px;
		line-height: 0.8;
		font-size: 1.6em;
	}
  
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-brand h1{
		margin-top: 10px;
		line-height: 0.8;
		font-size: 1.6em;
	}


}
/********** Extra small devices only **********/
@media (max-width: 767px) {
	.navbar-brand h1 { 
    padding-bottom: 20px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
    margin-top: 10px;
    line-height: 0.8;
  }
 
}
/********** Extra Extra small devices only **********/
@media (max-width: 479px) {

}

section{
	margin-bottom: 20px;
}
section p.text-center{
	font-weight: bold;
}
section div{
	background-color: grey;
	padding:10px;
}














